<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/messageBoard.css">
    <title>Document</title>
</head>
<body>

<div class="changeList clearfix">

</div>
<div class="text2">
    <div class="sort">
      <div class="text_Title clearfix">預約結果</div>
      
    </div>
    <div class="table2">
      <ul class='table2Item col-5'>
        <li class='date'>日期</li>
        <li class='time'>時間</li>
        <li class='name'>姓名</li>
        <li class='phone'>手機</li>
        <li class='item'>預約項目</li>
        <li><input type="submit" value='更新' class='resuleBotton'></li>
      </ul>
    </div>
    <div class="list" id='text2Item'>

    </div>  
  </div>
</div>

<div id="footer"></div>

</div>

<script src='/js/board.js'></script>
</body>
</html>